/* 
    Source Code Pro 
*/
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

*,
*::after,
*::before {
    /* For debugging 
    border: 1px dotted red;
    */
    
    box-sizing: border-box;
    font-family: 'Source Code Pro', Arial, Helvetica, sans-serif;

    --color-shift-time: .1s;
    transition: background var(--color-shift-time) ease, 
                background-color var(--color-shift-time) ease, 
                color var(--color-shift-time) ease,
                transform 0.3s ease-in-out;
}

:root {
    --font-size-sm: clamp(0.8rem, 0.17vw + 0.76rem, 0.89rem);
    --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
    --font-size-md: clamp(1.25rem, 0.61vw + 1.1rem, 1.58rem);
    --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
    --font-size-xl: clamp(1.95rem, 1.56vw + 1.56rem, 2.81rem);
    --font-size-xxl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);
    --font-size-xxxl: clamp(3.05rem, 3.54vw + 2.17rem, 5rem);

    --primary: rgb(0, 105, 217);
    --secondary: rgb(52, 152, 219);
    --neutral: rgb(204, 204, 204);
    --background: rgb(232, 232, 232);
    --accent: rgb(0, 149, 255);
    --text-color: rgb(0, 0, 0);
    --w-text-color: rgb(255, 255, 255);
    --b-text-color: rgb(0, 0, 0);

    --background-alt: rgb(0, 53, 156);
    --background-grad: linear-gradient(90deg, rgba(0, 53, 156, 1) 0%, rgba(0, 123, 255, 1) 100%);

    --pfp-size: 17vh;

    --font-title: 'Source Code Pro', monospace;

    /* "Text" based variables */
    --T-primary: none;
    --T-secondary: none;
    --T-neutral: none;
    --T-background: none;
    --T-accent: none;
    --T-text-color: none;
}

#DARK_PREVIEW {
    --NAN-primary-dark: rgb(0, 70, 145);
    --NAN-secondary-dark: rgb(0, 47, 94);
    --NAN-neutral-dark: rgb(170, 170, 170);
    --NAN-background-dark: rgb(20, 20, 20);
    --NAN-accent-dark: rgb(255, 215, 0);
}

h1 {
    font-size: var(--font-size-xxl);
}

h2 {
    font-size: var(--font-size-xxl);
}

h3 {
    font-size: var(--font-size-xl);
}

h4 {
    font-size: var(--font-size-lg);
}

h5 {
    font-size: var(--font-size-mg);
}

p {
    font-family: var(--font-title);
    font-size: var(--font-size-base);
    transition: font-size 0.3s ease;
}

header {
    background-color: var(--background);
    align-items: center;
    display: flex;
    z-index: 100;
    height: 50px;
    width: 100%;
    padding: 10px;
    position: fixed;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-up {
    transform: translateY(-100px);
}

html,
body {
    background-color: var(--background);
    color: var(--text-color);
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
}

.strt-vw-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.start-view {
    background: var(--background-alt);
    background: var(--background-grad);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.showcase-title {
    color: var(--w-text-color);
    margin-bottom: 15px;
}

.title {
    font-family: var(--font-title);
    color: var(--text-color);
    font-size: 48px;
    font-weight: 200;
    word-wrap: normal;
    transition: font-size 0.3s ease;
}

.sub-title {
    font-family: var(--font-title);
    font-size: 18px;
    font-weight: 200;
    transition: font-size 0.3s ease;
}

.t-light {
    color: var(--w-text-color);
}

.t-dark {
    color: var(--b-text-color);
}

.pfp {
    height: 145px;
    width: 145px;
    background-color: var(--neutral);
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 10px auto;
}

.pfp img {
    margin-left: -3%;
    height: auto;
    width: 90%;
}

.display-box {
    background: rgba(var(--T-neutral), .2);
    padding: 30px;
    margin: 30vh 10px;
    border-radius: 10px;
    font-family: var(--font-title);
    font-weight: 400;
    transition: margin 0.5s ease;
    color: var(--text-color)
}

/* Doesn't need a transition (you can't even see it) */
.lucky-message {
    float: right;
    font-size: 12px;
}

@media screen and (max-width: 650px) {
    .title {
        font-size: 24px;
    }

    .sub-title {
        font-size: 12px;
    }

    .display-box {
        margin: 30vh 0;
    }

    .lucky-message {
        font-size: 8px;
    }
}

main {
    margin: 10px 20%;
    padding: 10px;
}

footer {
    border-radius: 10px 10px 0 0;
    background-color: var(--primary);
    color: var(--text-color);
    padding: 10px;
    text-align: center;
    margin: auto 8px;
}

.footer-signature {
    display: flex;
    align-items: flex-start;
}

.footer-signature img {
    height: auto;
    width: 250px;
}

.centered {
    justify-content: center;
    justify-self: center;
    text-align: center;
}

#version {
    float: right;
    font-size: 12px;
}

.footer-sub-text {
    font-size: 14px;
    font-family: var(--font-title);
}

.left {
    padding: 20px;
}

.right {
    padding: 20px;
    margin-left: auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    z-index: 900;
    transition: opacity 1s ease;
    place-items: center;
    display: grid;
}

/* Theme toggle button */
.theme-toggle-div {
    margin-right: 30px;
}

.theme-toggle-container {
    --color: var(--theme-toggle-color);
    --size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: var(--size);
    user-select: none;
    fill: var(--color);
}

.theme-toggle-container .moon {
    position: absolute;
    animation: theme-toggle-keyframes-fill .5s;
}

.theme-toggle-container .sun {
    position: absolute;
    display: none;
    animation: theme-toggle-keyframes-fill .5s;
}

/* ------ On check event ------ */
.theme-toggle-container input:not(:checked)~.moon {
    display: none;
}

.theme-toggle-container input:not(:checked)~.sun {
    display: block;
}

/* ------ Hide the default checkbox ------ */
.theme-toggle-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* ------ Animation ------ */
@keyframes theme-toggle-keyframes-fill {
    0% {
        transform: rotate(-360deg) scale(0);
        opacity: 0;
    }

    75% {
        transform: rotate(25deg);
    }
}

/* Loader */
.code-loader {
    color: var(--text-color);
    font-family: Consolas, Menlo, Monaco, monospace;
    font-weight: bold;
    font-size: 100px;
    opacity: 0.8;
}

.code-loader span {
    display: inline-block;
    animation: pulse_414 0.4s alternate infinite ease-in-out;
}

.code-loader span:nth-child(odd) {
    animation-delay: 0.4s;
}

@keyframes pulse_414 {
    to {
        transform: scale(0.8);
        opacity: 0.5;
    }
}